{% extends 'layout.html' %}
{% block content %}
    <div class="container py-5">
        <div class="notice mb-3">
            <h3>결제</h3>
            <p>결제 진행중입니다.</p>
        </div>
        <div>
            <a href="/charge" class="btn btn-md bg-primary text-white w-100 fw-bold">이전으로</a>
        </div>
    </div>
    <iframe id="chargeFrame" width="0" height="0" frameborder="0"></iframe>
{% if url %}
<script>
    let url = "{{url}}?{{body}}";
    url = url.replaceAll('&amp;', '&');
    const iframe = document.getElementById("chargeFrame");
    iframe.setAttribute("src", url);
</script>
{% endif %}
{% endblock %}