{% extends 'counselor-info.html' %}

{% block counselorInfoComp %}
<div class="info-basic py-3">
    <div class="notice py-3">
        <h3 class="fw-bold">서비스 공지</h3>
        <div class="content rounded bg-white p-3">
            <pre>
※상담가능시간
월~금 9:00AM ~ 2:00PM
토~일 수시대기이지만 외부 스케쥴로 인해 변동 가능
            </pre>
        </div>
    </div>
    <div class="intro py-3">
        <h3 class="fw-bold">기본정보</h3>
        <div class="content rounded bg-white p-3">
            <pre>
안녕하세요, 수비학 상담사 성현입니다.
희망을 드려야 할 때 희망을 드리고 
냉정한 판단을 해야할 때 정확한 답변을 드리는
상담사 성현이 되도록 노력하겠습니다.
망설이지 마시고 전화주세요~
            </pre>
        </div>
    </div>
    <!-- <div class="career py-3">
        <h3 class="fw-bold">주요경력</h3>
        <div class="content rounded bg-white p-3">
            <pre>
- 심리점성술 상담사
- 수비학 상담사
- 심리상담사 1급
            </pre>
        </div>
    </div> -->
</div>
{% endblock %}