{% extends 'counselor-info.html' %}

{% block counselorInfoComp %}
<div class="review py-3">
    <div class="inner py-3">
        <h3 class="fw-bold mb-3">후기 <span class="review-count text-point">86</span> 건</h3>
        <div class="content">
            <div class="user-review rounded bg-white p-3 mb-3">
                <div class="reviewer fw-bold d-flex">
                    <span class="user-id">abcd1020</span>님
                    <span class="created-at ms-auto fw-normal text-darkGray">2023.01.02</span>
                </div>
                <div class="my-2 review-score score-2">
                    별점 <span class="sound-only"></span>점
                </div>
                <div class="review-content">
                    요새 너무너무 신경이 쓰였는데 상담 너무 잘 해주셔서 감사합니당!!!<br>
                </div>
            </div>
            <div class="user-review rounded bg-white p-3 mb-3">
                <div class="reviewer fw-bold mb-2 d-flex">
                    <span class="user-id">dfkj320sk1</span>님
                    <span class="created-at ms-auto fw-normal text-darkGray">2023.01.01</span>
                </div>
                <div class="my-2 review-score score-4">
                    별점 <span class="sound-only"></span>점
                </div>
                <div class="review-content">
                    마음 급했었는데 상담하고 많이 차분해졌어요~^-^<br>
                    넘 감사해요 선생님~~!!
                </div>
                <!-- 별점 클래스로 제어 score-1 ~ score-5 -->
            </div>
        </div>
        <div class="btn-more"><button class="py-3 w-100 rounded bg-white text-center fw-bold text-darkGray">후기 더보기</button></div>
    </div>
    <script>
        const maskUserId = (value) => {
            if (value.length === 2) {
            return value.replace(/(?<=.{1})./gi, '*');
            } else if (value.length > 2) {
            return value.replace(/(?<=.{2})./gi, '*');
            } else {
            return value;
            }
        }; //아이디 가리기 정규식
        const review = document.querySelectorAll(".user-review");
        review.forEach((item) => {
            let userId = item.childNodes[1].childNodes[1];
            let maskedUserId = maskUserId(userId.innerText);
            userId.innerText = maskedUserId
        }); // 아이디 마스킹
    </script>
</div>
{% endblock %}