{% extends 'layout.html' %}

{% block content %}
<div class="counselor">
    <div class="container py-5">
        <div class="profile row py-3 bg-white">
            <div class="profile-info col-12 col-md-5">
                <div class="profile-img">
                    <img src="images/profile.jpg" alt="">
                </div>
            </div>
            <div class="profile-util col-12 col-md-7 d-flex flex-column">
                <div class="txt py-3">
                    <div class="name fw-bold fs-4">현성 | <span class="cns-num text-secondary">100</span></div>
                    <!--ARS 연결시 필요한 접속 번호-->
                    <div class="msg">수비학으로 당신의 미래를 속시원히 알려드립니다.</div>
                </div>
                <!-- <div class="tag mb-3">
                    <div class="badge bg-primary">#<span class="keyword">수비학</span></div>
                    <div class="badge bg-primary">#<span class="keyword">심리상담</span></div>
                    <div class="badge bg-primary">#<span class="keyword">빠른상담</span></div>
                </div> -->
                <div class="count mb-3">
                    <div class="review d-flex align-items-center mb-1">
                        <div class="ico"><img src="images/review.png" alt=""></div>
                        <div class="ms-1">후기<span class="review-count text-point ms-1">86</span></div>
                    </div>
                    <div class="coin d-flex align-items-center ms-auto">
                        <div class="ico me-1"><img src="images/coin.png" alt=""></div>
                        <div class="price">1,200</div>
                    </div>
                </div>
                <div class="control d-flex align-items-center mt-auto">
                    <!-- <div class="bookmark me-2">
                        <button class="rounded border border-point text-point">
                            <span class="material-symbols-outlined d-block">favorite</span>
                            찜
                        </button> 찜 비활성화
                        <button class="rounded border border-point bg-point text-white">
                            <span class="material-symbols-outlined d-block">favorite</span>
                            찜
                        </button> 찜 활성화 
                    </div> -->
                    <div class="call w-100">
                        <!-- <a href="tel:000-000-0000" class="d-block h-100 rounded bg-primary text-white fw-bold d-flex align-items-center justify-content-center py-3 fs-4 fw-bold">
                            <span class="material-symbols-outlined">call</span>
                            <span class="counselor-status ms-1">상담가능</span>
                        </a> 상담가능 -->
                        <a href="tel:000-000-0000" class="d-block col-lg-6 mt-auto h-100 rounded bg-secondary text-white fw-bold d-flex align-items-center justify-content-center py-3 fs-4 fw-bold">
                            <span class="counselor-status ms-1">상담준비중</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="local-nav row bg-white">
                <div class="col col-4 active"><a href="/counselorInfoProfile" class="d-flex align-items-center justify-content-center py-2">프로필</a></div>
                <div class="col col-4">
                    <a href="counselorInfoReview" class="d-flex align-items-center justify-content-center py-2">
                        후기
                        <div class="ms-1 badge bg-point text-white"><span class="review-count">86</span></div>
                    </a>
                </div>
                <div class="col col-4">
                    <a href="counselorInfoQnA" class="d-flex align-items-center justify-content-center py-2">
                        문의
                        <div class="ms-1 badge bg-darkGray text-white"><span class="review-count">24</span></div>
                    </a>
                </div>
            </div>
            <div class="components">
                {% block counselorInfoComp %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}