{% extends 'counselor-info.html' %}

{% block counselorInfoComp %}
<script>
    const lnb = document.querySelectorAll(".local-nav div");
    lnb.forEach((list, i) => {
        i === 1 ? list.classList.add("active") : list.classList.remove("active");
    });
    // local navigation highlight
</script>
<div class="review py-3">
    <div class="inner py-3">
        <h3 class="fw-bold mb-3">후기 <span class="review-count text-point">{{counselorInfo.review_count}}</span> 건</h3>
        <div class="content">
            {% for item in reviewList %}
            <div class="user-review rounded bg-white p-3 mb-3">
                <div class="reviewer fw-bold d-flex">
                    <span class="user-id">{{item.user_nicknm}}</span>님
                    <span class="created-at ms-auto fw-normal text-darkGray">{{item.create_time}}</span>
                </div>
                <div id="counselorScore" class="score d-flex align-items-center py-3 py-md-0 ms-auto score-{{item.score}}">
                    <div class="score-star"><button class="star-btn" data-score="1"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                    <div class="score-star"><button class="star-btn" data-score="2"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                    <div class="score-star"><button class="star-btn" data-score="3"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                    <div class="score-star"><button class="star-btn" data-score="4"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                    <div class="score-star"><button class="star-btn" data-score="5"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                </div>
                <div class="review-content">
                    {{item.contents}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="btn-more"><button class="py-3 w-100 rounded bg-white text-center fw-bold text-darkGray">후기 더보기</button></div>
        <!-- 5개씩 출력 (더보기) -->
    </div>
    <script>
        const maskUserId = (value) => {
            if (value.length === 2) {
            return value.replace(/(?<=.{1})./gi, '*');
            } else if (value.length > 2) {
            return value.replace(/(?<=.{2})./gi, '*');
            } else {
            return value;
            }
        }; //아이디 가리기 정규식
        const review = document.querySelectorAll(".user-review");
        review.forEach((item) => {
            let userId = item.childNodes[1].childNodes[1];
            let maskedUserId = maskUserId(userId.innerText);
            userId.innerText = maskedUserId
        }); // 아이디 마스킹
    </script>
</div>
{% endblock %}