{% extends 'layout.html' %}
{% block content %}
<div class="login py-5">
    <div class="container">
        <div class="wrapper col-12 col-lg-6 mx-lg-auto">
            <h2 class="login-logo border-bottom text-center pb-3 mb-3 fw-bold">아이디 찾기</h2>
            <div class="email-login mb-3">
                <form action="" id="findId">
                    <div class="user-id mb-3"><input class="px-4 py-3 bg-white border border-primary d-block rounded w-100 border d-block w-100" id="userId" type="text" placeholder="이름"></div>
                    <div class="user-pw mb-3"><input class="px-4 py-3 bg-white border border-primary d-block rounded w-100 border d-block w-100" id="userPw" type="text" placeholder="가입시 입력한 휴대전화번호"></div>
                    <div class="btn-submit"><button class="px-4 py-3 d-block w-100 bg-primary text-white rounded" id="findIdBtn" type="submit">아이디 찾기</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}