{% extends 'layout.html' %}
{% block content %}
<div class="login py-5">
    <div class="container">
        <div class="wrapper col-12 col-lg-6 mx-lg-auto bg-white px-2 py-4 rounded">
            <div class="tab border-bottom d-flex mb-3">
                <div class="find-id-tab col-6 text-center fw-bold"><a href="/forgotId" class="d-block pb-3 mb-3 active">아이디 찾기</a></div>
                <div class="find-pw-tab col-6 text-center fw-bold"><a href="/forgotPw" class="d-block pb-3 mb-3">비밀번호 찾기</a></div>
            </div>
            <div class="find-user-id mb-3">
                <form action="" id="findId">
                    <div class="user-name mb-3">
                        <input class="px-4 py-3 bg-white border border-primary d-block rounded w-100 border d-block w-100" id="findIdName" type="text" placeholder="실명을 입력해주세요.">
                    </div>
                    <div class="user-sonum mb-3">
                        <input class="px-4 py-3 bg-white border border-primary d-block rounded w-100 border d-block w-100" id="findIdNum" type="text" placeholder="생년월일 8자리 ex)19900815">
                    </div>
                    <div class="user-phone mb-3 row">
                        <div class="col-4">
                            <select name="" id="" class="py-3 bg-white border border-primary d-block rounded w-100 h-100 border d-block fs-6 text-center">
                                <option value="" selected>통신사선택</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-8">
                            <input class="px-4 py-3 bg-white border border-primary d-block rounded w-100 border d-block" id="findIdTel" type="text" value="010-" maxlength="13" required>
                        </div>
                    </div>
                    <div class="btn-submit"><button class="px-4 py-3 d-block w-100 bg-primary text-white rounded bg-bgDisabled" id="findIdBtn" type="submit" disabled>아이디 찾기</button></div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const $userName = document.getElementById("findIdName");
        const $userNum = document.getElementById("findIdTel");

        const checkTyped = () => {
            const userName = $userName.value;
            const userNum = $userNum.value;
            const userNumInput = userNum.slice(4);
            const findBtn = document.getElementById("findIdBtn"); 

            if (userName && userNum && userNum.replace(/-/g, "").length >= 10) {
                document.getElementById("findIdBtn").removeAttribute("disabled");
                document.getElementById("findIdBtn").classList.remove("bg-bgDisabled");
            } else {
                document.getElementById("findIdBtn").setAttribute("disabled", "");
                document.getElementById("findIdBtn").classList.add("bg-bgDisabled");
            }
        }

        $userName.addEventListener("keyup", checkTyped); 

        $userNum.addEventListener("keyup", (e) => {
            e.target.value = e.target.value
            .replace(/[^0-9]/g, "")
            .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
            .replace(/(\-{1,2})$/g, "");
            // 하이픈 자동 삽입 정규식
            checkTyped();
        }); //아이디찾기 - 본인인증 유효성 끝
    </script>
</div>
{% endblock %}