{% extends 'layout.html' %}

{% block content %}
<div class="main-banner bg-white">
    <div class="container">
        <a href="#">
            <img src="images/mainBanner.jpg" alt="">
        </a>
    </div>
</div>
<div class="lnb bg-white">
    <div class="container">
        <div class="row">
            <div class="col col-3 text-center py-2"><a href="#" class="h-100 w-100 d-block text-darkGray active">전체</a></div>
            <div class="col col-3 text-center py-2"><a href="#" class="h-100 w-100 d-block text-darkGray">신규</a></div>
            <div class="col col-3 text-center py-2"><a href="#" class="h-100 w-100 d-block text-darkGray">추천</a></div>
            <div class="col col-3 text-center py-2"><a href="#" class="h-100 w-100 d-block text-darkGray">상담가능</a></div>
        </div>
    </div>
</div>
<div class="counselors">
    <div class="container py-4">
        <div class="row">
            {% set counselor = ['', '', '', '', '', '', '', ''] %}
            {% for item in counselor %}
            <div class="profile col col-12 col-sm-6 col-md-4 mb-3 mb-sm-4">
                <div class="inner bg-white">
                    <a href="/counselorInfoProfile">
                        <div class="intro row p-2">
                            <div class="pic col col-5">
                                <div class="profile-img">
                                    <img src="images/profile.jpg" alt="">
                                </div>
                            </div>
                            <div class="txt col col-7">
                                <div class="name fw-bold">현성 | <span class="cns-num text-secondary">100</span></div>
                                <div class="msg fs-6">수비학으로 당신의 미래를 속시원히 알려드립니다.</div>
                            </div>
                        </div>
                        <div class="info p-2">
                            <div class="border-top d-flex">
                                <div class="review d-flex align-items-center">
                                    <div class="ico"><img src="images/review.png" alt=""></div>
                                    <div class="ms-1">후기<span class="review-count text-point">86</span></div>
                                </div>
                                <div class="coin d-flex align-items-center ms-auto">
                                    <div class="ico me-1"><img src="images/coin.png" alt=""></div>
                                    <div class="price">1,200</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!--profile ui card-->
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}