{% extends 'layout.html' %} {% block content %}
<script src="js/join.js"></script>
<div class="join py-5">
    <div class="container">
        <div class="wrapper col-12 col-lg-6 mx-lg-auto">
            <h2 class="border-bottom text-center pb-3 mb-3 fw-bold">추가 기입사항</h2>
            <div class="text text-center pb-3 mb-3">하나의 계정으로<br />브라우저와 앱에서 손쉽게 매직넘버를 만나보세요!</div>
            <div class="emailJoin">
                <form action="join" method="post" id="joinForm">
                    <div class="join-user-info px-2 py-4 bg-white rounded mb-3">
                        <h3 class="fs-5 mb-3">개인정보*</h3>
                        <div class="join-name mb-3">
                            <input class="px-4 py-3 bg-white border border-primary d-block rounded w-100" type="text"
                                name="name" id="joinName" placeholder="이름" required />
                        </div>
                        <div class="join-so-num mb-3">
                            <input class="px-4 py-3 bg-white border border-primary d-block rounded w-100" type="text"
                                name="birth" id="joinSoNum" placeholder="생년월일" required />
                        </div>
                        <div class="join-gender mb-3">
                            <select name="gender" id="joinGender"
                                class="px-4 py-3 bg-white border border-primary d-block rounded w-100">
                                <option value="default" selected>성별</option>
                                <option value="1">남자</option>
                                <option value="2">여자</option>
                            </select>
                        </div>
                        <div class="join-phone mb-3 row">
                            <!-- <div class="col-4">
                                <select name="" id="joinCarrier" class="py-3 bg-white border border-primary d-block rounded w-100 h-100 border d-block fs-6 text-center">
                                <option value="default" selected>통신사선택</option>
                                <option value="skt">SKT</option>
                                <option value="lg">LG</option>
                                <option value="kt">KT</option>
                                </select>
                            </div> -->
                            <!-- <div class="col-8"> -->
                            <div class="col-12">
                                <input
                                    class="px-4 py-3 bg-white border border-primary d-block rounded w-100 border d-block"
                                    name="phone_num" id="joinTel" type="text" value="010-" maxlength="13" required />
                            </div>
                        </div>
                        <!-- <div class="join-auth">
                            <input id="verifyCall" class="auth-btn px-4 py-3 d-block w-100 bg-primary rounded text-white fw-bold bg-bgDisabled" type="button" value="본인인증" disabled />
                        </div> -->
                    </div>

                    <div class="join-basic-info px-2 py-4 bg-white rounded mb-3">
                        <div class="policy mt-5">
                            <h3 class="label-policy fs-5 mb-3">약관동의*</h3>
                            <div class="allow-all position-relative px-4 py-3 rounded bg-white mb-3">
                                <input id="allowAll" class="ck" type="checkbox" />
                                <label class="label-for-ck w-100 h-100" for="allowAll">약관 전체동의</label>
                            </div>
                            <div class="allow-list rounded bg-white">
                                <div
                                    class="allow-service position-relative border-bottom px-4 py-3 d-flex justify-content-between">
                                    <input id="allowService" class="ck" type="checkbox" name="terms_of_service"
                                        value="1" />
                                    <label class="label-for-ck w-80 h-100" for="allowService">이용약관(필수)</label>
                                    <button class="btn-pop-opn" id="termsOfUse" data-policy-type="termsOfUse"
                                        class="d-flex">[보기]</button>
                                </div>
                                <div
                                    class="allow-priv position-relative border-bottom px-4 py-3 d-flex justify-content-between">
                                    <input id="allowPriv" class="ck" type="checkbox" name="privacy" value="1" />
                                    <label class="label-for-ck w-80 h-100" for="allowPriv">개인정보수집 및 이용동의(필수)</label>
                                    <button class="btn-pop-opn" id="privatePolicy" data-policy-type="privatePolicy"
                                        class="d-flex">[보기]</button>
                                </div>
                                <div
                                    class="allow-opt position-relative border-bottom px-4 py-3 d-flex justify-content-between">
                                    <input id="allowOpt" class="ck" type="checkbox" name="advertisement" value="1" />
                                    <label class="label-for-ck w-80 h-100" for="allowOpt">이벤트, 쿠폰 알림 메일 및 SNS
                                        수신(선택)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-join">
                        <button class="px-4 py-3 mt-3 d-block w-100 bg-primary rounded text-white fw-bold">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="popup" class="modal-popup review-modal">
        <div id="layer" class="layer">
            <div id="content" class="content bg-white col-12 col-md-8">
                <div class="inner p-3 p-md-5 col-12">
                    <div class="title d-flex justify-content-between align-items-center">
                        <h4 id="policyTit" class="mb-3 fw-bold fs-4"></h4>
                        <div class="close">
                            <button class="text-black"><span class="material-symbols-outlined fw-bold fs-3">close</span></button>
                        </div>
                    </div>
                    <div id="policyBody1" class="d-md-flex justify-content-between align-items-center border-top border-bottom py-2">
                        {{termsOfUse}}
                    </div>
                    <div id="policyBody2" class="d-md-flex justify-content-between align-items-center border-top border-bottom py-2">
                        {{privatePolicy}}
                    </div>
                </div>
            </div>
        </div>
        <script>
            // 팝업 제어
            const popup = document.querySelector("#popup");
            const opnBtn = document.querySelectorAll(".btn-pop-opn");
            const layer = document.querySelector("#layer");
            const cont = document.querySelector("#content")
            const clsBtn = document.querySelector(".modal-popup .close button");
            const policyTitle = document.querySelector("#policyTit");
            const policyBody = document.querySelector("#policyBody");

            clsBtn.addEventListener("click", (e) => {
                popup.style.display = "none";
            });
            layer.addEventListener("click", (e) => {
                popup.style.display = "none";
            });
            cont.addEventListener("click", (e) => {
                e.stopPropagation();
            });

            opnBtn.forEach((btn, i) => {
                btn.addEventListener("click", (e) => {
                    e.preventDefault();
                    popup.style.display = "block";
                    let policyType = btn.getAttribute("data-policy-type");
                    if (policyType === "termsOfUse") {
                        policyTitle.innerText = "매직넘버 서비스 이용약관"
                        policyBody1.style.display = "block";
                        policyBody2.style.display = "none";
                    } else if (policyType === "privatePolicy") {
                        policyTitle.innerText = "개인정보처리방침"
                        policyBody1.style.display = "none";
                        policyBody2.style.display = "block";
                    }
                });
            });
        </script>
    </div>
</div>
{% endblock %}
