{% extends 'layout.html' %}
{% block content %}
    <div class="container py-5">
        <div class="wrapper row">
            <div class="sub-lnb border-bottom col col-12 col-lg-2 py-0 py-lg-2">
                <div class="row">
                    <div class="list col col-3 col-lg-12 py-2"><a href="/mypage" class="h-100 w-100 d-block text-center text-lg-start text-darkGray fs-xs-6 active">마이페이지</a></div>
                    <div class="list col col-3 col-lg-12 py-2"><a href="/mypage-info" class="h-100 w-100 d-block text-center text-lg-start text-darkGray fs-xs-6">회원정보</a></div>
                    <div class="list col col-3 col-lg-12 py-2"><a href="/mypage-coin" class="h-100 w-100 d-block text-center text-lg-start text-darkGray fs-xs-6">코인관리</a></div>
                    <div class="list col col-3 col-lg-12 py-2"><a href="/mypage-history" class="h-100 w-100 d-block text-center text-lg-start text-darkGray fs-xs-6">구매내역</a></div>
                </div>
            </div>
            <div class="content col col-12 col-lg-10">
                {% block myPageComp %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}