{% extends 'mypage.html' %}

{% block myPageComp %}
<div class="bookmark-info py-3">
    <h3 class="fw-bold mb-3">찜 목록</h3>
    <div class="bookmark-list">
        <div class="profile col col-12 col-sm-6 col-md-4 mb-3 mb-sm-4 rounded bg-white">
            <div class="inner">
                <a href="#">
                    <div class="intro row p-2">
                        <div class="pic col col-5">
                            <div class="profile-img">
                                <img src="images/profile.jpg" alt="">
                            </div>
                        </div>
                        <div class="txt col col-7">
                            <div class="name fw-bold">현성 | <span class="cns-num text-secondary">100</span></div>
                            <div class="msg fs-6">수비학으로 당신의 미래를 속시원히 알려드립니다.</div>
                        </div>
                    </div>
                    <div class="info p-2">
                        <div class="border-top d-flex">
                            <div class="review d-flex align-items-center">
                                <div class="ico"><img src="images/review.png" alt=""></div>
                                <div class="ms-1">후기<span class="review-count text-point">86</span></div>
                            </div>
                            <div class="coin d-flex align-items-center ms-auto">
                                <div class="ico me-1"><img src="images/coin.png" alt=""></div>
                                <div class="price">1,200</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div><!--profile ui card 1-->
        <div class="profile col col-12 col-sm-6 col-md-4 mb-3 mb-sm-4 rounded bg-white">
            <div class="inner">
                <a href="#">
                    <div class="intro row p-2">
                        <div class="pic col col-5">
                            <div class="profile-img">
                                <img src="images/profile.jpg" alt="">
                            </div>
                        </div>
                        <div class="txt col col-7">
                            <div class="name fw-bold">현성 | <span class="cns-num text-secondary">100</span></div>
                            <div class="msg fs-6">수비학으로 당신의 미래를 속시원히 알려드립니다.</div>
                        </div>
                    </div>
                    <div class="info p-2">
                        <div class="border-top d-flex">
                            <div class="review d-flex align-items-center">
                                <div class="ico"><img src="images/review.png" alt=""></div>
                                <div class="ms-1">후기<span class="review-count text-point">86</span></div>
                            </div>
                            <div class="coin d-flex align-items-center ms-auto">
                                <div class="ico me-1"><img src="images/coin.png" alt=""></div>
                                <div class="price">1,200</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div><!--profile ui card 2-->
        <div class="profile col col-12 col-sm-6 col-md-4 mb-3 mb-sm-4 rounded bg-white">
            <div class="inner">
                <a href="#">
                    <div class="intro row p-2">
                        <div class="pic col col-5">
                            <div class="profile-img">
                                <img src="images/profile.jpg" alt="">
                            </div>
                        </div>
                        <div class="txt col col-7">
                            <div class="name fw-bold">현성 | <span class="cns-num text-secondary">100</span></div>
                            <div class="msg fs-6">수비학으로 당신의 미래를 속시원히 알려드립니다.</div>
                        </div>
                    </div>
                    <div class="info p-2">
                        <div class="border-top d-flex">
                            <div class="review d-flex align-items-center">
                                <div class="ico"><img src="images/review.png" alt=""></div>
                                <div class="ms-1">후기<span class="review-count text-point">86</span></div>
                            </div>
                            <div class="coin d-flex align-items-center ms-auto">
                                <div class="ico me-1"><img src="images/coin.png" alt=""></div>
                                <div class="price">1,200</div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
        </div><!--profile ui card 3-->
    </div>
</div>
{% endblock %}