{% extends 'mypage.html' %}

{% block myPageComp %}
<script>
    const lnb = document.querySelectorAll(".sub-lnb .list a");
    lnb.forEach((list, i) => {
        i === 4 ? list.classList.add("active") : list.classList.remove("active");
    });
    // local navigation highlight
</script>
<div class="review-info py-3">
    <h3 class="fw-bold mb-3">리뷰내역</h3>
    <div class="track d-flex w-lg-100 justify-content-around">
        <div class="list w-50 border-bottom"><a href="/mypage-review1" class="h-100 w-100 d-block text-center bg-white p-2 text-darkGray">작성가능</a></div>
        <div class="list w-50 border-bottom border-primary"><a href="/mypage-review2" class="h-100 w-100 d-block text-center bg-white p-2 text-primary fw-bold">작성완료</a></div>
    </div>
    <div class="review-list py-3">
        {% if myReviewList.length %} 
            {% for item in myReviewList %}
            <!--
                num: 28,
                csrid: 12978,
                nicknm: 매직넘버,
                end: 2023-09-25 21:38:38,
                interval: 1,
                profile_path: /csr_profile/1695645331254_XqCNhzPKro.png,
                dtmfno: 99,
                usetm: 17,
                usetm_str: 00:00:17,
                review_num: 33,
                score: 5,
                contents: 상담감사합니다,
                review_create_time: 2023-10-04 00:44:29,
                review_update_time: null,
                comment: null,
                comment_create_time: null,
                comment_update_time: null
            -->
            <div class="profile col col-12 mb-3 mb-sm-4 rounded bg-white p-2">
                <div class="inner my-order-tbl">
                    <div class="row align-items-center">
                        <div class="col col-12 d-flex justify-content-between pb-2">
                            <div class="date fw-bold">
                                <span class="year">{{item.review_create_time.substring(0,4)}}</span>.
                                <span class="mm">{{item.review_create_time.substring(5,7)}}</span>.
                                <span class="hh">{{item.review_create_time.substring(8,10)}}</span>
                            </div>
                            <!-- <div class="paid d-flex align-items-center justify-content-end">
                                <div class="fw-bold">
                                    -<span class="price">1,200</span>
                                </div>
                                <div class="ico ms-1"><img src="images/coin.png" alt=""></div>
                            </div> -->
                        </div>
                        <div class="thumb col col-3 col-md-2">
                            <div class="profile-img w-100">
                                <img src="{{host}}{{item.profile_path}}" alt="" />
                            </div>
                        </div>
                        <div class="counselor col col-10">
                            <div class="name fw-bold fs-4">{{item.nicknm}} | <span class="cns-num text-secondary">{{item.csrid}}</span></div>
                            <div class="msg fs-6">수비학으로 당신의 미래를 속시원히 알려드립니다.</div>
                        </div>
                        <div class="review col col-12 col-md-12 mt-3">
                            <div class="content border-top">
                                <div class="score score-{{item.score}} d-flex justify-content-start align-items-center py-2 ms-auto">
                                    <div class="score-star"><button class="star-btn d-flex align-items-center" data-score="1"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                    <div class="score-star"><button class="star-btn d-flex align-items-center" data-score="2"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                    <div class="score-star"><button class="star-btn d-flex align-items-center" data-score="3"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                    <div class="score-star"><button class="star-btn d-flex align-items-center" data-score="4"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                    <div class="score-star"><button class="star-btn d-flex align-items-center" data-score="5"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                </div>
                                <div class="review-body">
                                    {{item.contents}}
                                </div>
                                <div class="edit-util d-flex mt-3">
                                    <div class="btn-edit me-2"><button class="btn border-darkGray text-darkGray fs-6" type="button" data-num="{{item.num}}" data-csrid="{{item.csrid}}" data-nick_name="{{item.nick_name}}" data-profile_path="{{item.profile_path}}" data-score="{{item.score}}" data-contents="{{item.contents}}">수정</button></div>
                                    <!-- <div class="btn-delete"><button class="btn border-darkGray text-darkGray fs-6" type="button">삭제</button></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--profile ui card 1-->
            {% endfor %}
        {% else %}<!--리뷰 내역이 없을 때-->
            <div class="empty-review py-2">
                <div class="inner py-2 col-7 mx-auto text-center">
                    <span class="material-symbols-rounded text-bgDisabled fs-1">hourglass_disabled</span>
                    <p class="text-txtDisabled">아직 작성하신 리뷰가 없습니다.</p>
                </div>
            </div>
        {% endif %}
    </div>
    <div id="popup" class="modal-popup review-modal">
        <div id="layer" class="layer">
            <div id="content" class="content bg-white col-12 col-md-8">
                <div class="inner p-3 p-md-5 col-12">
                    <div class="title d-flex justify-content-between align-items-center">
                        <h4 class="mb-3 fw-bold fs-4">리뷰 작성하기</h4>
                        <div class="close">
                            <button class="text-black" type="button"><span class="material-symbols-outlined fw-bold fs-3">close</span></button>
                        </div>
                    </div>
                    <div id="counselorProfile" class="counselor-profile d-md-flex justify-content-between align-items-center border-top border-bottom py-2">
                        <div class="thumb col col-6 col-md-3 mx-auto">
                            <img src="" alt="" id="popup_profile_path">
                        </div>
                        <div class="counselor col col-12 col-md-8 mt-2 mt-md-0">
                            <div class="name fw-bold fs-4"><span id="popup_nick_name"></span> | <span class="cns-num text-secondary" id="popup_csrid"></span></div>
                            <div class="msg fs-6">수비학으로 당신의 미래를 속시원히 알려드립니다.</div>
                        </div>
                    </div><!--후기 작성 대상인 상담사의 프로필-->
                    <div class="give-score py-3">
                        <form action="editReview" method="post" class="d-md-flex flex-wrap">
                            <input type="hidden" name="counsel_num" id="popup_counsel_num">
                            <input type="hidden" name="score" id="popup_score">
                            <div class="fw-bold text-center">상담은 어떠셨나요?</div>
                            <div class="text-center ms-md-1">별점을 통해 평가해주세요.</div>
                            <div id="counselorScore" class="score d-flex justify-content-center align-items-center py-3 py-md-0 ms-auto">
                                <div class="score-star"><button type="button" class="star-btn" data-score="1"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                <div class="score-star"><button type="button" class="star-btn" data-score="2"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                <div class="score-star"><button type="button" class="star-btn" data-score="3"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                <div class="score-star"><button type="button" class="star-btn" data-score="4"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                                <div class="score-star"><button type="button" class="star-btn" data-score="5"><span class="material-symbols-rounded star-disabled">star</span><span class="material-symbols-rounded star-active">star</span></button></div>
                            </div>
                            <textarea id="reviewTxt" name="contents" placeholder="후기를 작성해주세요." class="border w-100 py-3 px-2" rows="6"></textarea>
                            <div id="warnMsg" class="warn text-point fs-6"></div>
                            <div class="notice fs-6 text-txtDisabled mt-2">실제 상담과 무관하거나 비속어가 포함된 리뷰 등 공정한 운영에 저해되는 리뷰는 고지 없이 블라인드 처리 될 수 있습니다.</div>
                            <button id="reviewSubmit" type="submit" class="btn btn-rounded btn-primary fw-bold ms-auto mt-3 col-12 col-md-3">등록하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // 리뷰 레이팅 인터렉션

            // 팝업 제어
            const popup = document.querySelector("#popup");
            const opnBtn = document.querySelectorAll(".btn-edit button");
            const layer = document.querySelector("#layer");
            const cont = document.querySelector("#content");
            const clsBtn = document.querySelector(".modal-popup .close button");
            const popup_nick_name = document.querySelector("#popup_nick_name");
            const popup_csrid = document.querySelector("#popup_csrid");
            const popup_profile_path = document.querySelector("#popup_profile_path");
            const popup_score = document.querySelector("#popup_score");
            const counselorScore = document.querySelector("#counselorScore");
            const reviewTxt = document.querySelector("#reviewTxt");

            opnBtn.forEach((opn,i) => {
                const counsel_num = opn.dataset.num;
                const csrid = opn.dataset.csrid;
                const nick_name = opn.dataset.nick_name;
                const profile_path = opn.dataset.profile_path;
                const score = opn.dataset.score;
                const contents = opn.dataset.contents;
                opn.addEventListener("click", (e) => {
                    popup.style.display = "block";                    
                    popup_counsel_num.value = counsel_num;
                    popup_nick_name.innerText = nick_name;
                    popup_csrid.innerText = csrid;
                    popup_profile_path.setAttribute("src", "{{host}}" + profile_path);
                    counselorScore.classList.add('score-' + score);
                    reviewTxt.value = contents;

                });
            });
            clsBtn.addEventListener("click", (e) => {popup.style.display = "none";});
            layer.addEventListener("click", (e) => {popup.style.display = "none";});
            cont.addEventListener("click", (e) => {e.stopPropagation();});

            // 리뷰 제어
            const scoreStar = document.getElementById("counselorScore");
            const starBtn = document.querySelectorAll("#counselorScore button");
            const submitBtn = document.querySelector("#reviewSubmit");
            starBtn.forEach((btn,i) => {
                btn.addEventListener("click", (e) => {
                    e.preventDefault();
                    const score = e.currentTarget.getAttribute("data-score");
                    for(let i = 0; i < 5; i++) {
                        scoreStar.classList.remove("score-1", "score-2", "score-3", "score-4", "score-5");
                    }
                    scoreStar.classList.add(`score-${score}`);
                    scoreStar.classList.add("rated"); //별점을 줬는지 여부
                    btn.classList.add("selected"); //별점
                });
            });// rating star

            submitBtn.addEventListener("click", (e) => {
                const reviewText = document.querySelector("#reviewTxt").value; //리뷰 글

                // e.preventDefault()
                if(!scoreStar.classList.contains("rated")) { //별점 미선택시 경고
                    document.querySelector("#warnMsg").innerText = "* 별점을 선택해주세요.";
                    return false;
                } else if(reviewText === "") { //후기 미작성시 경고
                    document.querySelector("#warnMsg").innerText = "* 후기를 작성해주세요.";
                    return false;
                } else { //입력 완료 후 submit
                    const reviewScore = document.querySelector(".selected").getAttribute("data-score"); //별점  
                    popup_score.value = reviewScore;
                    console.log(reviewScore, reviewText);
                    return;
                }
            });
        </script>
    </div>
</div>
{% endblock %}