{% extends 'layout.html' %}

{% block content %}
<div class="notice">
    <div class="container py-5">
        <h3 class="text-center fw-bold text-primary mb-3">공지사항</h3>
        <div class="board col-lg-8 mx-auto bg-white">
            <ol class="p-2">
                <li class="list d-flex align-items-center border-bottom py-3">
                    <div class="category col-1 text-start me-1"><span class="badge badge-pill bg-primary">공지</span></div>
                    <div class="tit text-truncate me-2"><a href="/notice-post">동해물과 백두산이 마르고 닳도록</a></div>
                    <div class="create-at text-center ms-auto">
                        2023.03.04
                    </div>
                </li>
                <li class="list d-flex align-items-center border-bottom py-3">
                    <div class="category col-1 text-start me-1"><span class="badge badge-pill bg-point">이벤트</span></div>
                    <div class="tit text-truncate me-2"><a href="/notice-post">동해물과 백두산이 마르고 닳도록</a></div>
                    <div class="create-at text-center ms-auto">
                        2023.03.04
                    </div>
                </li>
                <li class="list d-flex align-items-center border-bottom py-3">
                    <div class="category col-1 text-start me-1"><span class="badge badge-pill bg-primary">공지</span></div>
                    <div class="tit text-truncate me-2"><a href="/notice-post">동해물과 백두산이 마르고 닳도록</a></div>
                    <div class="create-at text-center ms-auto">
                        2023.03.04
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}