{% extends 'layout.html' %}

{% block content %}
<div class="notice">
    <div class="container py-5">
        <h3 class="text-center fw-bold text-primary mb-3">공지사항</h3>
        <div class="board col-lg-8 mx-auto">
            <div class="post py-4 px-3 bg-white">
                <div class="title border-bottom pb-3">
                    <div class="category text-center me-1 mb-3"><span class="badge badge-pill bg-primary">공지</span></div>
                    <div class="tit h4 text-dark fw-bold text-center">개인정보 처리방침에 관한 안내</div>
                    <div class="date fs-6 fw-bold text-darkGray text-center">2023-03-23</div>
                </div>
                <div class="content pt-3">
                    동해물과 백두산이...
                </div>
            </div>
            <div class="btn-back mt-3 text-end ">
                <a href="javascript:window.history.back();" class="btn btn-md bg-primary text-white">목록으로</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}