<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/default.css">
    <link rel="stylesheet" href="/public/style.css">
    <style>
        *{margin:0;padding: 0; list-style: none;}
    </style>
</head>
<body>
    <div class="service-2 pt-4">
        <h4 class="text-center mb-3">선불상담 이용방법 안내 </h4>
        <div class="container-fluid">
            <div class="process row">
                <div class="col h-100">
                    <div class="inner p-3 rounded bg-primary flex-wrap d-flex flex-column">
                        <div class="ico mb-2"><span class="text-primary fs-4 material-symbols-outlined">person_add</span> zzzz</div>
                        <div class="txt">매직넘버 계정이 없으시면 <b><a href="/join" class="text-decoration-underline text-point">회원가입</a></b>을 진행해 주세요.</div>
                    </div>
                </div>
                <div class="col h-100">
                    <div class="inner p-3 rounded bg-primary flex-wrap d-flex flex-column">
                        <div class="ico mb-2"><span class="text-primary fs-4 material-symbols-outlined">login</span> zzzz</div>
                        <div class="txt">계정에 로그인하여 <b><a href="/charge" class="text-decoration-underline text-point">코인을 충전</a></b>하세요.</div>
                    </div>
                </div>
                <!-- <div class="col col-12 col-md-4 text-center h-100">
                    <div class="inner p-3 rounded bg-primary flex-wrap d-flex flex-column">
                        <div class="ico mb-2"><span class="text-primary fs-4 material-symbols-outlined">credit_card</span> zzzz</div>
                        <div class="txt"><b><a href="tel:000-000-0000" class="text-decoration-underline text-point">000-000-0000</a></b>에 전화 연결하여 원하는 상담사의<br><b>고유번호 3자리를 입력</b>한 후 상담을 나누세요.</div>
                    </div>
                </div> -->
                <div class="col h-100">
                    <div class="inner p-3 rounded bg-primary">
                        <div class="ico mb-2"><span class="text-primary fs-4 material-symbols-outlined">ring_volume</span> zzzz</div>
                        <!-- <div class="txt"><b><a href="tel:060-000-0000" class="text-decoration-underline text-point">070-8017-5431</a></b>로 전화 연결합니다.</div> -->
                        <div class="txt">
                            원하는 상담사를 선택하고 선불상담 전화 버튼을 터치(클릭)합니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>